<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>Deelance New</title>
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel=stylesheet>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css>
    <link href=/css/chunk-0243c657.ac9c0b43.css rel=prefetch>
    <link href=/css/chunk-08bcef60.974bbc44.css rel=prefetch>
    <link href=/css/chunk-1b48e5ca.390e9300.css rel=prefetch>
    <link href=/css/chunk-23391832.6c85bc7f.css rel=prefetch>
    <link href=/css/chunk-341f80ea.d9f1f3f4.css rel=prefetch>
    <link href=/css/chunk-3c0fe31d.8a70aa2b.css rel=prefetch>
    <link href=/css/chunk-4d1a44ae.1df26bec.css rel=prefetch>
    <link href=/css/chunk-52b821f1.143aaae7.css rel=prefetch>
    <link href=/css/chunk-531b91f7.fbe4dea9.css rel=prefetch>
    <link href=/css/chunk-57c34342.88125c95.css rel=prefetch>
    <link href=/css/chunk-5dc480d8.f607357b.css rel=prefetch>
    <link href=/css/chunk-6207b33c.11c9ae8f.css rel=prefetch>
    <link href=/css/chunk-65baac53.b795fcaf.css rel=prefetch>
    <link href=/css/chunk-72bf4be2.6c96cfd6.css rel=prefetch>
    <link href=/css/chunk-754e340d.a6ca89b7.css rel=prefetch>
    <link href=/css/chunk-8b5dbf22.0e979398.css rel=prefetch>
    <link href=/css/chunk-eb8c7e3a.a9f49936.css rel=prefetch>
    <link href=/js/chunk-0243c657.9365cc0c.js rel=prefetch>
    <link href=/js/chunk-08bcef60.926fb43b.js rel=prefetch>
    <link href=/js/chunk-0a78f8bb.a0b2fea9.js rel=prefetch>
    <link href=/js/chunk-0bb2fd9a.fc18d097.js rel=prefetch>
    <link href=/js/chunk-1b48e5ca.8de6b709.js rel=prefetch>
    <link href=/js/chunk-23391832.c9fc4452.js rel=prefetch>
    <link href=/js/chunk-2d212f1d.af4fa833.js rel=prefetch>
    <link href=/js/chunk-2d230447.e387ecdd.js rel=prefetch>
    <link href=/js/chunk-341f80ea.b9349470.js rel=prefetch>
    <link href=/js/chunk-3c0fe31d.44e0d7e5.js rel=prefetch>
    <link href=/js/chunk-4d1a44ae.c27a505f.js rel=prefetch>
    <link href=/js/chunk-52b821f1.7679921c.js rel=prefetch>
    <link href=/js/chunk-531b91f7.29e4824a.js rel=prefetch>
    <link href=/js/chunk-57c34342.471b4c10.js rel=prefetch>
    <link href=/js/chunk-5dc480d8.e7492407.js rel=prefetch>
    <link href=/js/chunk-6207b33c.6d0116d4.js rel=prefetch>
    <link href=/js/chunk-65baac53.9fe885a3.js rel=prefetch>
    <link href=/js/chunk-72bf4be2.be53e34f.js rel=prefetch>
    <link href=/js/chunk-754e340d.71b1ee1c.js rel=prefetch>
    <link href=/js/chunk-8b5dbf22.5c3902f9.js rel=prefetch>
    <link href=/js/chunk-eb8c7e3a.4298e757.js rel=prefetch>
    <link href=/css/chunk-vendors.45bbacc8.css rel=preload as=style>
    <link href=/js/app.33a8eec3.js rel=preload as=script>
    <link href=/js/chunk-vendors.5a4e98b2.js rel=preload as=script>
    <link href=/css/chunk-vendors.45bbacc8.css rel=stylesheet>
</head>

<body>
<noscript><strong>We're sorry but taktak doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
<div id=app></div>
<script src=/js/chunk-vendors.5a4e98b2.js></script><script src=/js/app.33a8eec3.js></script>
</body>
</html>
